/* 鼠标图标 */
body {
    background: rgba(255, 255, 255, .5);
    cursor: url(https://gitee.com/frunoob/blog-image/raw/master/image/20201121010542.png), auto;
    margin: 0;
}
a:hover{
    text-decoration: none;
    cursor: url(https://gitee.com/frunoob/blog-image/raw/master/image/20201121010555.png), auto;
}

/* 滚动条 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgba(73, 177, 245, 0.2);
    border-radius: 2em;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #49b1f5;
    background-image: -webkit-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.4) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.4) 50%,
      rgba(255, 255, 255, 0.4) 75%,
      transparent 75%,
      transparent
    );
    border-radius: 2em;
  }
  
  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  
  ::-moz-selection {
    color: #fff;
    background-color: #49b1f5;
  }

  /* // 设置首页页码颜色 */

a.page-number{
    color: white;
    background-color: rgba(24, 221, 41, 0.43);
}
a.extend.next{
  color:white;
}
span.space{
  color:crimson;
  font-size: larger;

}
/* 主页 love fontaseme */
i.fa-fw.fas.fa-heart.fa-lg{
  color:#FF6A6A;animation: announ_animation 0.8s linear infinite;
}
