#title[data-v-41467d13] {
  margin: 0px;
  padding: 0px;
  line-height: 1.1;
  font-size: xx-small;
  color: #8fbc8f;
}
#data[data-v-41467d13] {
  margin-top: 5px;
  color: #70885f;
}
#sendTo[data-v-41467d13] {
  color: #caffa5;
  background-color: #3eaf7c;
  border: 0;
  outling: none;
}
#input[data-v-41467d13]:focus {
  border: 4px #87d215 solid;
  outline: none;
}
#input[data-v-41467d13] {
  border: 3px #87d215 solid;
}
#content[data-v-41467d13] {
  height: auto;
  background-color: #e0efda;
  border: 2px #87d215 dotted;
  padding: 5px;
}
#sendTo[data-v-41467d13]:hover {
  border: 4px #3eaf7c solid;
  outline: none;
}
#sendTo[data-v-41467d13]:active {
  border: 3px #3eaf7c solid;
  outline: none;
}
