<link rel="stylesheet" class="aplayer-secondary-style-marker" href="/assets/css/APlayer.min.css"><script src="/assets/js/APlayer.min.js" class="aplayer-secondary-script-marker"></script><script class="meting-secondary-script-marker" src="/assets/js/Meting.min.js"></script>.divVideo{
    position: relative;
    width: 100%;
    padding-bottom: 100%;
  }
  .myVideo{
    position: absolute;
    left: 1%;
    top: 0;
    width: 98%;
    height: 514px;
    object-fit: fill;
  }