@font-face {
    font-family: 'jihe';
    src: url("/fonts/zhulang.otf");
    src: url("/fonts/zhulang.ttf");
    /* src: url('/fonts/jihe.woff') format('woff');
    src: url('/fonts/jihe.ttf'); */
    font-weight: normal;
    font-style: normal;

}